html {
    font-size: 10px;
  color:white;

}
body {
    background-color:#1a1a1a;
    font-family: 'PT Sans', sans-serif;

}

.topBar {
    background: #252526;
    z-index: 999;
    top: 0px;
    display:block;
}
.topBar .coin {
    display:inline-block
}
.green {
    background-color: #6fcf00 !important;
}
.red {
    background-color: #cf0000 !important;
}
.gray {
    background-color: #7c7c7c !important;
}
.bigger{
    font-size:12px !important;
    text-shadow: 1px 1px 2px black;

}
.currentPrice{
    border-bottom:3px solid rgb(0, 89, 255);
}
.lastTransactionPrice{
    border-bottom:3px solid rgb(102, 226, 1);
}
.gold {
    background-color: gold!important;
    color:black !important;
}
.header {
    font-size:16px;
    display:flex;
align-items:center;
padding:4px;
    margin:1px;
}
.header .bigger {
    font-size:14px !important;

}
.header .p-tag {
    font-size:14px !important;
}
.header .part {
    width:150px;
    display:inline-block;
    margin-left:20px
}
.trader {
    margin:1px;
    border:1px solid #999;
    border-radius:5px;
    background: #252526;
}
.header:hover {
    background: #121213;

}
.chartButton {
    padding:5px;
    margin:10px;
   border-radius:5px;
   border-color:#1a1a1a;
    text-align:center; 
}
table {
    font-size: 10px;
}