html {
    font-size: 10px;
}
body {
    margin-top:100px
}
.topBar {
    position: fixed;
    width: 100vw;
    z-index: 999;
    background: white;
    top: 0px;
}
.green {
    background-color: #6fcf00 !important;
}
.red {
    background-color: #cf0000 !important;
}
.gray {
    background-color: #7c7c7c !important;
}
.bigger{
    font-size:12px !important;
    text-shadow: 1px 1px 2px black;

}
.currentPrice{
    border-bottom:3px solid rgb(0, 89, 255);
}
.lastTransactionPrice{
    border-bottom:3px solid rgb(102, 226, 1);
}