html {
    font-size: 10px;
  color:black;

}
body {
    background-color:#1a1a1a;
    font-family: 'PT Sans', sans-serif;

}

.topBar {
    background: #252526;
    z-index: 999;
    top: 0px;
    display:block;
}
.topBar .coin {
    display:inline-block
}
.pill {
    padding:3px;
    border-radius:4px;
}
.green {
    background-color: #437e00 !important;
    color:white;
}
.red {
    background-color: #970000 !important;
    color:white;
}
.gray {
    background-color: #1d1d1d !important;
    color:white;

}
.bigger{
    font-size:12px !important;
    text-shadow: 1px 1px 2px black;

}
.currentPrice{
    border-bottom:3px solid rgb(0, 89, 255);
}
.lastTransactionPrice{
    border-bottom:3px solid rgb(102, 226, 1);
}
.gold {
    background-color: gold!important;
    color:black !important;
}
.header {
    font-size:16px;
    display:flex;
align-items:center;
padding:4px;
    margin:1px;
}
.header .bigger {
    font-size:14px !important;

}
.header .p-tag {
    font-size:14px !important;
}
.header .part {
    width:150px;
    display:inline-block;
    margin-left:20px
}
.trader {
    margin:1px;
    border:1px solid #999;
    border-radius:5px;
    background: #252526;
}
.header:hover {
    background: #121213;

}
.chartButton {
    padding:5px;
    margin:10px;
   border-radius:5px;
   border-color:#1a1a1a;
    text-align:center; 
}
table {
    font-size: 10px;
}
*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body{
   
    -webkit-font-smoothing: antialiased;
     
}
h2{
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    padding: 30px 0;
}
.important {
    background: #ffcc00 !important;
}
/* Table Styles */

.table-wrapper{
    margin: 1px;
    margin-bottom:20px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
    width:100%;
}
a {
    color:white
}
a:hover {
    color:#ffcc00
}
.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: #222;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
   
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.fl-table thead th {
    color: #ffffff;
    background: #365a50;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #334354;
}

.fl-table tr:nth-child(even) {
    color:white;
    background: #555555;
}
.fl-table tr:nth-child(odd) {
    background: #3c3c3c;
    color:rgb(200, 200, 200);
}

.pillWrap {
    display:inline-block;
    margin-right:10px;
    margin-bottom:10px;
}
.pillHeader{
            font-size: 13px;
  text-align: center;
 background: #324960;
 border-radius:5px 5px 0 0;
 padding:15px; margin:0;
 color:white;
 width:190px;
}
.pillContent {
     width:190px;
height:40px;
            font-size: 13px;
  text-align: center;
    border-radius:0 0 5px 5px; background: #fff;
     padding:15px; margin:0;

}
h1 {
    color:white;
    padding:10px;
    margin:10px;
    border-radius:2px;
    background: #223950;
}
.table-wrapper .stats {
    display:inline-block;
    background:rgb(34, 34, 34);
    color:white;
    padding:5px;
    margin-left:15px;
    border-radius:1px;
    border: 2px solid rgb(63, 63, 63);
    width:200px;

}
.table-wrapper .greenBorder {

    border: 2px solid  rgb(118, 201, 35);

}

.table-wrapper .redBorder {

    border: 2px solid rgb(192, 0, 0);

}
.table-wrapper .selling {
    border-left: 5px solid rgb(118, 201, 35);
}
.table-wrapper .neutral {
    border-left: 5px solid grey;
}
.table-wrapper .negative0 {
    border-left: 5px solid rgb(199, 122, 122);
}
.table-wrapper .negative1 {
    border-left: 5px solid  rgb(255, 72, 72);
}
.table-wrapper .negative2 {
    border-left: 5px solid red;
}